*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: Laila;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/laila.woff2");
}
@font-face {
  font-family: Rozha;
  font-style: bold;
  src: url("../fonts/rozha.woff2");
}

body {
  font-family: "Laila";
}
footer {
  text-align: center;
  font-size: 1.75rem;
}
.copyright {
  font-size: 1.25rem;
}
.wrapper {
  background-color: #ffffff;
  color: #151515;
  gap: 2rem;
  padding: 1.25rem 1rem;
  max-width: 875px;
  margin: auto;
}
.controls,
.wrapper,
.display,
.text {
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
}
.display {
  width: 100%;
}
h1 {
  font-family: "Rozha";
  margin-block-start: 1rem;
  margin-block-end: 0.5rem;

  font-size: 5rem;
}
h1,
textarea {
  text-align: center;
}
button,
textarea,
input {
  font-size: inherit;
  margin-block-end: 1.25rem;
}
input,
textarea {
  background: linear-gradient(#d6b9a8, #e6d2b9, #e6d2b9, #e6d2b9);
  border: none;
  border-radius: 6px;
  padding: 0.5rem;
}
button {
  color: white;
  border: none;
  font-family: "Segoe UI", "Roboto", "Inter", sans-serif;
  border-radius: 6px;
  padding-block: 1.25rem;
  transition: 50ms;
}
button:active {
  scale: 0.9;
}
.btn-blue {
  background-color: rgb(61, 97, 239);
}
.btn-red {
  background-color: rgb(239, 61, 91);
}

/* Custom range input style */

#font-size-range,
#toggle-border-radius {
  appearance: none;
  -webkit-appearance: none;
}
#font-size-range {
  margin-block-start: 0.5rem;
}
#toggle-border-radius-label {
  display: inherit;
}
#toggle-border-radius {
  display: grid;
  place-content: center;
  translate: 0.5em 0.15em;
  border: 2px solid #9a905d;
  font: inherit;
  width: 1.15em;
  height: 1.15em;
  margin: 0;
}
#toggle-border-radius::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 50ms transform ease-out;
  box-shadow: inset 1em 1em #9a905d;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
#toggle-border-radius:checked::before {
  transform: scale(1);
}

/* Firefox */
#font-size-range::-moz-range-progress {
  overflow: hidden;
  appearance: none;
  -webkit-appearance: none;
  background-color: #9a905d;
}
#font-size-range::-moz-range-track {
  background-color: #b6a9a2;
}

/* Chromium */

/* Custom padding for Chromium */
.chromium-range-padding {
  padding: 18px;
}

#font-size-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 2px solid #b6a9a2;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  margin-top: -8px;
}

#font-size-range::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #9a905d;
  border-radius: 1.3px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-block-end: 1.25rem;
  font-size: 1.75rem;
  min-height: 18rem;
  background: linear-gradient(#d6b9a8, #e6d2b9, #e6d2b9, #e6d2b9);
}
.border-radius-6px {
  border-radius: 6px;
}
.sher {
  padding: 0.5rem;
}
.shayar {
  font-family: "Rozha";
}
.line {
  margin-block-end: 0.5rem;
  text-align: center;
  text-wrap: balance;
  overflow: hidden;
}

.text {
  flex-direction: column;
  gap: 2rem;
}
textarea {
  min-height: 8rem;
}

@media (770px <= width) {
  .wrapper {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
@media (360px >= width) {
  .container {
    font-size: 1.65rem;
    min-height: 20rem;
  }
}
@media (340px >= width) {
  .container {
    font-size: 1.5rem;
    min-height: 20rem;
  }
}
@media (300px >= width) {
  .container {
    font-size: 1.25rem;
    min-height: 18rem;
  }
}
@media (250px >= width) {
  .container {
    font-size: 1.1rem;
    min-height: 16rem;
  }
}
@media (225px >= width) {
  .container {
    font-size: 1rem;
    min-height: 14rem;
  }
}
